/*
  filename: about.css
  author: Isaac
  description: Basic styles for the About page
*/

main {
  width: 80%;
  margin: auto;
}

main h2 {
  color: darkblue;
  border-bottom: 1px solid gray;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}


footer {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid gray;
}