/*

filename: apply.css

author: Alagarsamy Chandrasekar Shashanth Kumar

created: 1 September 2026 (01/09/2026)

last modified: 11 September 2026 (11/09/2026)

description: links to apply.html

*/

/* changes heading color, size, and makes it bold */
h1 {
    color: #8b0000;
    font-size: 2em;
    font-weight: bold;
}

/* turns job ref number label border into blue colour and spaces it out, to make it more standout */
#job-ref-num {
    border: 1px solid blue;
    border-radius:2em;
    margin: 1em;
}