/*

filename: global.css

author: Alagarsamy Chandrasekar Shashanth Kumar

created: 7 September 2026 (07/09/2026)

last modified: 7 September 2026 (07/09/2026)

description: links to all pages

*/

/*

_______________________________________________________________________________________________

GLOBAL STYLESHEET
-----------------------------------------------------------------------------------------------

This stylesheet is applied to every page. It contains the elements of the web page that stay
consistent across all pages (i.e. menu navigation bars, footers, etc). If any work is done
to such global elements, please ensure to do it and keep it here for ease of coding and
an organised workspace.

_______________________________________________________________________________________________

*/

/* strips away underline and hyperlink blue color from logo text */
.logo a {
    text-decoration: none;
    color: inherit;
}

/* strips away underline and hyperlink blue color from nav-links */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    display: block; /* link fills entire clickable space of individual nav-link pill */
    padding: 6px 0;
}

/* stacks menu navigation links horizontally and removes visibility of bullet points */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-inline: 20px; /* spaces out list items of navigation link classes, to ensure links themselves are spaced out evenly */
    width: 100px; /* sets horizontal length of each nav-link's pill-style border equally */
    text-align: center;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

/* stacks navbar contents horizontally and spaces them out appropriately */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
}

/* creates black 'master-pill' container box for navigation links for the navbar */
.navbar ul {
    background-color: black;
    padding: 8px;
    border-radius: 24px;
    display: flex;
    gap: 10px;
}

/* wraps non-cta-button nav-links in a grey pill when cursur hovers over it */
.nav-links li:hover:not(:has(.cta-btn)) {
    background-color: #374151;
}

/* highlights the current page user is on */
.nav-links li:has(.current-page:not(.cta-btn)) {
    background-color: #282c32;
}

/* gives CTA Button (Apply button) its unique purple background color to call user to action */
.nav-links li:has(.cta-btn) {
    background-color: rgb(103, 8, 103);
}

/* turns CTA button (Apply button) noticably lighter when cursor hovers over it, prompting user to click */
.nav-links li:has(.cta-btn:hover) {
    background-color: rgb(153, 40, 145);
}

/* highlights when user is currently on the 'Apply' page using extra border styling, as 'Apply' is a CTA button */
.nav-links li:has(.cta-btn.current-page) {
    background-color: rgb(65, 3, 65);
    border: 2px solid rgb(210, 80, 210);
}