/*

filename: styles.css

author: Ollie Madu

created: 2/9/2026

last modified: 10/9/2026

description: CSS file specifically for the Jobs Page

*/

body
{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}


h1
{
    line-height: 50px;
    height: 25px;
}

aside
{
    border: 6px inset rgb(152, 167, 255);
    font-size: larger;
    background-color: solid white;
    border-radius: 14px;

    width: 30%;
    margin: 1em;
    padding: 1em;
    float: right;

    position: fixed;
    top: 110px;
    right: 10px;
}

/* Class Elements */
.column 
{
    border: 5px solid lightblue;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    min-width: 30em;
    max-width: 55em; 
    height: 100%;
    margin: 1em;
    padding: 10px;
}

.auto-view
{
    display: flex;
}

.auto-view li
{
    color: #4a4a4a;
    font-size: large;
    margin-inline: 20px;
}

.toggle-view
{
    display: none;
} 


.column:hover
{
    .toggle-view
    {
        display: contents;
    }
}

.button 
{
    text-decoration: none;
    color: aliceblue;
    box-shadow: 10px #aaaaaa;
    background-color: rgb(118, 151, 171);
    padding: 8px;
    border-radius: 24px;
    gap: 10px;
}

.button:hover
{
    color: rgb(240, 240, 255);
    box-shadow: -5px 5px 10px #aaaaaa;
    background-color: rgb(25, 0, 255);
    padding: 8px;
    border-radius: 24px;
    gap: 10px;
}
